<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Garden Manager</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <!-- WARNING: DO NOT DELETE THE LINE BELOW -->

    <div id="rails-garden-manager-watermark"></div>

    <!-- Install this snippet AFTER the Hotjar tracking code. -->
<script>
var userId = your_user_id || null; // Replace your_user_id with your own if available.
window.hj('identify', userId, {
    'Signed up': '2019—06-20Z', // Signup date in ISO-8601 format.
    // Add your own custom attributes here. Some examples:
    // 'Last purchase category': 'Electronics', // Send strings with quotes around them.
    // 'Total purchases': 15, // Send numbers without quotes.
    // 'Last purchase date': '2019-06-20Z', // Send dates in ISO-8601 format.
    // 'Last refund date': null, // Send null when no value exists for a user.
});
</script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
